/*****************************tag selector*****************************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:562.5%;
  color: #66BFBF;
  line-height:1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
  font-weight: bolder;
}

p {
  line height: 2;
}

a {
  color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}




/*****************************class selector*****************************/
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
left: 250px;
bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.cloud-container {
  height: 200px;
  width: 200px;
}

.Portrait {
  width: 400px;
  height:550px;
  border-radius: 7%;

}

.chef {
  font-size: x-small;
}

.webdev {
  font-size: x-small;
}

.skill-row {
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cooking {
  width: 25%;
  float:right;
margin-left: 30px;
}

.hello-description {
width: 30%;
margin: auto;
}

.contact-message {
width: 40%;
margin: 40px auto 60px;
}
.btn {
  line-height:5;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.carlos {
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;

}

.contact-me {
  margin: 100px auto 100px auto;
}

.blog-title {
  color: #285430;
  font-family: '"Playfair Display", serif';
  padding-bottom: 2rem;

}

.hobbies-body {
  background-color: #EFEAD8;
  margin: auto 0px;
}

.hobbies-hr {
  margin: 50px auto;
}

.column1 {
margin: 50px auto;
position: relative;
right: 10px;
width: 50%;

}
